{%  extends "base.html" %}
{%  load staticfiles %}

{% block styles %}
    <style>
        body {
            border-top: 4px solid #000000;
{#            min-height: 3000px;#}
            background: url('{% static "img/iphonebg.jpg" %}') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
{% endblock %}

{%  block content %}
    <div class="jumbotron" style="background-color: #ffffff">
      <div class="container">
          <div class="col-sm-6">
            <h1>Homepage!</h1>
            <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
            <p><a class="btn btn-default btn-lg btn-block" href="#signup" role="button">Be First &raquo;</a></p>
          </div>
          <div class="col-sm-6">
              <img src="{% static 'img/iphone.jpg' %}" class="img-responsive">
          </div>
      </div>
    </div>
    <div class="container" style="text-align: center; color: #ffffff" id="signup">
        <div class="col-sm-6 col-sm-offset-3">
            <i class="fa fa-unlock fa-5x"></i>
            <h1>Unlock First!</h1>
            <form method="POST" action="" class="form-horizontal">
                <div class="form-group form-group-lg">
                    {% csrf_token %}
                     {% if form.email.errors %}
                        {% for error in form.email.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="input-group">
                        <input class="form-control" type="email" name="email" placeholder="Enter your email" />
                        <span class="input-group-btn">
                            <input type="submit" value="join" class="btn btn-primary btn-lg">
                        </span>
                    </div>
                </div>
            </form>
        <p class="lead">Sign up here. <br />Get first news on content.</p>
        </div>
    </div>

    <div class="row featured-row">
        <div class='col-sm-12'>
            <h1>Hello</h1>
            <div class="col-sm-3">
                <i class="fa fa-upload fa-3x"></i>
                <h2>Feature</h2>
                <p class="lead">Some text goes here</p>
            </div>
            <div class="col-sm-3">
                <i class="fa fa-upload fa-3x"></i>
                <h2>Feature</h2>
                <p class="lead">Some text goes here</p>
            </div>
            <div class="col-sm-3">
                <i class="fa fa-upload fa-3x"></i>
                <h2>Feature</h2>
                <p class="lead">Some text goes here</p>
            </div>
            <div class="col-sm-3">
                <i class="fa fa-upload fa-3x"></i>
                <h2>Feature</h2>
                <p class="lead">Some text goes here</p>
            </div>
            <hr/>
        </div>
    </div>
    <div class="row featured-row">
        <div class='col-sm-12'>
            <h1>Hello</h1>
            <div class="col-sm-3">
                <i class="fa fa-upload fa-3x"></i>
                <h2>Feature</h2>
                <p class="lead">Some text goes here</p>
            </div>
            <div class="col-sm-3">
                <i class="fa fa-upload fa-3x"></i>
                <h2>Feature</h2>
                <p class="lead">Some text goes here</p>
            </div>
            <div class="col-sm-3">
                <i class="fa fa-upload fa-3x"></i>
                <h2>Feature</h2>
                <p class="lead">Some text goes here</p>
            </div>
            <div class="col-sm-3">
                <i class="fa fa-upload fa-3x"></i>
                <h2>Feature</h2>
                <p class="lead">Some text goes here</p>
            </div>
            <hr/>
        </div>
    </div>
    <div class="row featured-row">
        <div class='col-sm-12'>
            <h1>Hello</h1>
            <div class="col-sm-3 col-sm-offset-3">
                <i class="fa fa-upload fa-3x"></i>
                <h2>Feature</h2>
                <p class="lead">Some text goes here</p>
            </div>
            <div class="col-sm-3">
                <i class="fa fa-upload fa-3x"></i>
                <h2>Feature</h2>
                <p class="lead">Some text goes here</p>
            </div>
            <hr/>
        </div>
    </div>

{% endblock %}