{%  extends "base.html" %}
{%  load staticfiles %}
{%  block content %}
    {%  include "navbar.html" %}
    <div class="jumbotron">
      <div class="container">
          <div class="row">
              <div class="col-md-6 pull-right" style="text-align: center">
                <i class="fa fa-share-alt"></i>
                <h1>Invite Friends &amp; Earn Rewards</h1>
                <p>
                    Share your unique link and earn rewards.
                </p>
                <div class="well" style="background-color: #ffffff">
                    {{ ref_url }}
                </div>
              </div>
              <div class="col-md-6 pull-left" >
                  <img src="{% static 'img/launch.jpg' %}" class="img-responsive img-rounded">
              </div>
          </div>
      </div>
    </div>
    <div class="container">
        <h1>
            Ref ID: {{ ref_id }}
        </h1>
        <h1>
           Count: {{ count }}
        </h1>
        <h1>
            <div class="well">
                    {{ ref_url }}
                </div>
        </h1>
    </div>

{% endblock %}