{%  extends "base.html" %}
{%  load staticfiles %}
{# jQuery Block #}
{% block jquery %}
{#    <script>#}
    {# vars #}
    $signUpCount = {{ count }};

    {# Work #}
    function newPct(signUps, prevGoal, goal) {
        return ((signUps - prevGoal) / goal) * 100;
    };

    function completeBlock(progressBarID) {
        $(progressBarID).css("width", "100%").attr("aria-valuenow", "100").text("Completed");
    };

    function setNewPct(progressBarID, pctNum, newText) {
        $(progressBarID).css("width", pctNum + "%").attr("aria-valuenow", pctNum).text(newText);
        {#   TODO Update text     #}
        if (pctNum < 50) {
            $(progressBarID).text(newText);
        } else {
            $(progressBarID).text(newText);
        }
    };

    if ($signUpCount == 0) {
        {# Nothing #}
    } else if ($signUpCount > 0 && $signUpCount < 5 ) {
        $newPct = newPct($signUpCount, 0, 5);
        setNewPct("#count5", $newPct, "Number of friends " + $signUpCount);
    } else if ($signUpCount >= 5 && $signUpCount < 15) {
        completeBlock("#count5")
        $newPct = newPct($signUpCount, 5, 15);
        setNewPct("#count15", $newPct, "Number of friends " + $signUpCount);
    } else if($signUpCount >= 15 && $signUpCount < 25) {
        completeBlock("#count5")
        completeBlock("#count15")
        $newPct = newPct($signUpCount, 15, 25);
        setNewPct("#count25", $newPct, "Number of friends " + $signUpCount);
    } else if($signUpCount >= 25 && $signUpCount < 50) {
        completeBlock("#count5")
        completeBlock("#count15")
        completeBlock("#count25")
        $newPct = newPct($signUpCount, 25, 50);
        setNewPct("#count50", $newPct, "Number of friends " + $signUpCount);
    } else {
        completeBlock("#count5")
        completeBlock("#count15")
        completeBlock("#count25")
        completeBlock("#count50")
    }
{#    </script>#}

{% endblock %}
{# content Block #}
{%  block content %}
    {%  include "navbar.html" %}
    <div class="jumbotron">
      <div class="container">
          <div class="row">
              <div class="col-md-6 pull-right" style="text-align: center">
                <i class="fa fa-share-alt fa-4x"></i>
                <h1>Invite Friends &amp; Earn Rewards</h1>
                <p>
                    Share your unique link and earn rewards.
                </p>
                <div class="well" style="background-color: #ffffff">
                    {{ ref_url }}
                </div>
                Share<br />
                <i class="fa fa-facebook-square fa-4x" style="color:#3b5998"></i>
                <i class="fa fa-twitter-square fa-4x" style="color:#4099FF"></i>
                <i class="fa fa-linkedin-square fa-4x" style="color:#007bb6"></i>
                <i class="fa fa-reddit-square fa-4x" style="color:#900020"></i>
                <i class="fa fa-google-plus-square fa-4x" style="color:#D34836"></i>
              </div>
              <div class="col-md-6 pull-left" >
                  <img src="{% static 'img/launch.jpg' %}" class="img-responsive img-rounded">
              </div>
          </div>
      </div>
    </div>
    <div class="container" style="text-align:center">
           Joined Number Is: {{ count }}
        <div class="row">
          <div class="col-sm-3">
            <h3>5 Joined</h3>
            <div class="progress">
              <div class="progress-bar" id="count5" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                0%
              </div>
            </div>
            <h4>Reward Name</h4>
            <!-- TODO <img src=""> -->
            <hr/>
            <span style="text-align:left !important;">
            <h5>Rewards Include:</h5>
              <ul>
                <li>Reward 1</li>
                <li>Reward 2</li>
                <li>Reward 3</li>
              </ul>
            </span>
            <hr/>
          </div>
          <div class="col-sm-3">
            <h3>15 Joined</h3>
            <div class="progress">
              <div class="progress-bar" id="count15" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                0%
              </div>
            </div>
            <h4>Reward Name</h4>
            <!-- TODO <img src=""> -->
            <hr/>
            <span style="text-align:left !important;">
            <h5>Rewards Include:</h5>
              <ul>
                <li>Reward 1</li>
                <li>Reward 2</li>
                <li>Reward 3</li>
              </ul>
            </span>
          </div>
          <div class="col-sm-3">
            <h3>25 Joined</h3>
            <div class="progress">
              <div class="progress-bar" id="count25" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                0%
              </div>
            </div
            <h4>Reward Name</h4>
            <!-- TODO <img src=""> -->
            <hr/>
            <span style="text-align:left !important;">
            <h5>Rewards Include:</h5>
              <ul>
                <li>Reward 1</li>
                <li>Reward 2</li>
                <li>Reward 3</li>
              </ul>
            </span>
          </div>
          <div class="col-sm-3">
            <h3>50 Joined</h3>
            <div class="progress">
              <div class="progress-bar" id="count50" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                0%
              </div>
            </div>
            <h4>Reward Name</h4>
            <!-- TODO <img src=""> -->
            <hr/>
            <span style="text-align:left !important;">
            <h5>Rewards Include:</h5>
              <ul>
                <li>Reward 1</li>
                <li>Reward 2</li>
                <li>Reward 3</li>
              </ul>
            </span>
            <hr/>
          </div>
        </div> <!--div row -->

    </div>

{% endblock %}